<p id="notice"><%= notice %></p>
<div class="container">
  <h2>Order Summary</h2>

  <h4>Your Shipping Info</h4>

  <td><%= @address.name %></td><br>
  <td><%= @address.company %></td><br>
  <td><%= @address.telephone %></td><br>
  <td><%= @address.address %></td><br>
  <td><%= @address.city %></td><br>
  <td><%= @address.state %></td><br>
  <td><%= @address.zip %></td><br>
  <td><%= @address.country %></td><br>
  <br>

  <div>
    <h4>Your Delivery Method</h4>
    <td><%= @carrier.name %></td><br>
    <td><%= @carrier.destination %></td><br>
    <td><%= @carrier.price %></td><br>
    <br>


    <h4>Your Order Items</h4>

    <% @items %>

    <% if @items.empty? %>
    <% else %>
    <table class="striped">
      <thead>
        <tr>
          <th data-field="id">Item</th>
          <th data-field="name">Price</th>
          <th data-field="price">Qty</th>
        </tr>
      </thead>
      <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= link_to item.name, item %></td>
          <td><%= number_to_currency(item.price, :unit => 'RM') %></td>
          <td>
            <%= form_tag update_item_path(id: item.id), method: :patch do%>
              <%= text_field_tag :quantity, item.quantity, id:"qty-cart" %>
            <%end%>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>

      <% if @items.empty? %>
      <% else %>
        <h2>Order Total: <%= number_to_currency(@totalprice, :unit => 'RM') %></h2>
      <% end %>
      <br>
      <%= link_to "Pay using Billplz", orders_path(totalprice: @totalprice, user_id: current_user.id), method: :post, class: "btn waves-effect waves-light" %>
      <%= link_to "Pay using Paypal", orders_path(totalprice: @totalprice, user_id: current_user.id), method: :post, class: "btn waves-effect waves-light" %>

      <br><br>
    </div>
  </div>
