<div class="container">
  <h1>Confirm Delivery Method</h1>

<%= form_tag order_confirmation_path, method: :get do %>
  <% @carriers.each do |carrier| %>
  <%= radio_button_tag 'carrier', carrier.id, true %>
  <%= label_tag "carrier_#{carrier.id}", "Carrier" %>
  <td><%= carrier.name %></td><br>
  <td><%= carrier.destination %></td><br>
  <td><%= carrier.price %></td><br>
  <br>
  <% end %>
  <a href="/checkout" class="btn waves-effect waves-light">Back</a>

<%= submit_tag 'Next', class:"btn waves-effect waves-light" %>
  <% end %>
  <br>

</div>
