<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row center-align">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center indigo-text"><i class="fa fa-bolt" aria-hidden="true"></i></h2>
          <h5 class="center">Super fast shipping</h5>

          <p class="light">We offer same-day delivery at minimal cost. FREE next-day delivery.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center indigo-text"><i class="fa fa-users" aria-hidden="true"></i></h2>
          <h5 class="center">Customer-first</h5>

          <p class="light">Free return and refund, no question asked. Buy first, think later.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center indigo-text"><i class="fa fa-comments" aria-hidden="true"></i></h2>
          <h5 class="center">Feedbacks welcomed</h5>

          <p class="light">Good or bad, we're listening. Give us a call or send us an email.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="container">
  <h4>Latest Products</h4>
  <div class="row center-align">
    <%= paginate @items %>
    <% @items.each do |item| %>
    <% next if item.status == 'inactive'%>
    <div class="col s12 m4 l4">
      <h2 class="center"><%= image_tag item.image, class: "responsive-img" %></h2>
      <h5 class="center"><%= link_to item.name, item_path(item) %></h5>
      <p class="light"><%= item.description %></p>
      <p class="light"><%= number_to_currency(item.price, unit: "RM ") %></p>
      <p class="light"><%= link_to "<i class='fa fa-shopping-cart fa-2x' aria-hidden='true'> </i> &nbsp; Add To Cart".html_safe, add_item_path(id: item, quantity: 1), method: :post, class: 'waves-effect waves-light btn' %></p>
    </div>
    <% end %>
    <div class="col s12 m12 l12">
      <%= paginate @items %>
    </div>
  </div>
</div>
