<div class="footer">
  <footer class="page-footer indigo lighten-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">Old Folk Shop / <%=link_to "About", about_path %> / <%=link_to "FAQ", faq_path %></h5>
          <p class="black-text text-lighten-4">is pioneering e-commerce in Malaysia by offering a fast, secure and convenient online shopping experience with a broad product offering to meet elderlies' needs.</p>


        </div>
        <div class="col l3 s6">
          <h5 class="black-text">Categories</h5>
          <ul>
            <li><%=link_to "Medicines", category_path(1) %></li>
            <li><%=link_to "Adult Diapers", category_path(2) %></li>
            <li><%=link_to "Hearing Aids", category_path(3) %></li>
            <li><%=link_to "Elderly Phones", category_path(4) %></li>
          </ul>
        </div>
        <div class="col l3 s6">
          <h5 class="black-text">&nbsp;</h5>
          <ul>
            <li><%=link_to "Walkers", category_path(5) %></li>
            <li><%=link_to "Wheelchairs", category_path(6) %></li>
            <li><%=link_to "Bed Rails", category_path(7) %></li>
            <li><%=link_to "Bathroom Equipments", category_path(8) %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Repo open sourced: <a class="black-text text-lighten-3" href="https://github.com/ahwong5/oldfolkshop">Github</a>
      </div>
    </div>
  </footer>
</div>
