<div class="container">
  <h2>Log In</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="field">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>
  <% end -%>

  <div class="actions">
    <p>
      <%= f.button "Log In", class: 'waves-effect waves-light btn' %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%=link_to "<i class='fa fa-facebook-official' aria-hidden='true'></i> Log In with Facebook".html_safe, user_facebook_omniauth_authorize_path, class: 'button' %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%=link_to "Forgot Your Password?", new_user_password_path, class: 'secondary hollow button' %>
    </p>
  </div>
  <% end %>
</div>
