<div class="container">
  <h2>Confirm your address</h2>

  <%= form_tag order_confirmation_path, method: :get do %>

  <% @addresses.each do |address| %>
  <%= radio_button_tag 'address', address.id, true %>
  <%= label_tag "address_#{address.id}", "Address" %>
  <td><%= address.name %></td><br>
  <td><%= address.company %></td><br>
  <td><%= address.telephone %></td><br>
  <td><%= address.address %></td><br>
  <td><%= address.city %></td><br>
  <td><%= address.state %></td><br>
  <td><%= address.zip %></td><br>
  <td><%= address.country %></td><br>
  <br>
  <% end %>

  <h2>Confirm your Delivery Method</h2>

  <% @carriers.each do |carrier| %>
  <%= radio_button_tag 'carrier', carrier.id, true %>
  <%= label_tag "carrier_#{carrier.id}", "Carrier" %>
  <td><%= carrier.name %></td><br>
  <td><%= carrier.destination %></td><br>
  <td><%= carrier.price %></td><br>
  <br>
  <% end %>

  <a href="/cart" class="btn waves-effect waves-light">Back</a>

  <%= submit_tag 'Next Final', class:"btn waves-effect waves-light" %>
  <% end %>
  <br>

</div>
