<div class="container">
  <h1>Items</h1>
  <%= paginate @items %>
  <div class="row center-align">
    <% @items.each do |item| %>
    <% next if item.status == 'inactive'%>
    <div class="col s12 m4 l4">
      <h2 class="center"><%= image_tag item.image, class: "circle responsive-img" %></h2>
      <h5 class="center"><%= link_to item.name, item_path(item) %></h5>
      <p class="light"><%= item.description %></p>
      <p class="light"><%= number_to_currency(item.price, unit: "RM ") %></p>
      <p class="light"><%= link_to "<i class='fa fa-shopping-cart fa-2x' aria-hidden='true'> </i> &nbsp; Add To Cart".html_safe, add_item_path(id: item, quantity: 1), method: :post, class: 'waves-effect waves-light btn' %></p>
    </div>
    <% end %>
  </div>
  <%= paginate @items %>
</div>
