<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Price</th>
      <th>Category</th>
      <th>Inventory</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.image %></td>
        <td><%= item.price %></td>
        <td><%= item.category.name %></td>
        <td><%= item.inventory %></td>
        <td><%= item.status %></td>
        <td><%= link_to 'AddToCart', add_item_path(id: item, quantity: 1), method: :post %></td>
        <td><%= link_to 'Show', item_path(item) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
