<p id="notice"><%= notice %></p>
<div class="container">


  <div class="row">
    <div class="col s6"><%= image_tag @item.image.medium %></div>
    <div class="col s6">
      <p>
        <strong>Name:</strong>
        <%= @item.name%>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @item.description %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @item.price %>
      </p>

      <p>
        <strong>Inventory:</strong>
        <%= @item.inventory %>
      </p>

      <p>
        <strong>Status:</strong>
        <%= @item.status %>
      </p>
    </div>
  </div>





  <%= link_to 'Back', items_path, class:"btn waves-effect waves-light" %>
  <br><br>
</div>
