<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Old Folk Shop" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "devise/registrations/new" %>
    <%= render "devise/sessions/login" %>
    <%= render "partials/header" %>

    <%= render partial: "partials/flash_messages" %>
    <% if notice.present? %>
    <div class="notice success callout" data-closable>
      <p><%= notice %></p>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>
    <% if alert.present? %>
    <div class="alert callout" data-closable>
      <p><%= alert %></p>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% end %>

    <%= yield %>
    <%= render "partials/footer" %>
  </body>
</html>
